*.gradle
gradle.properties
gradlew
gradlew.bat
gradle
local.properties
.idea
*.swp
*.iml
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
bazel-android-grpc
bazel-bin
bazel-genfiles
bazel-out
bazel-testlogs
*.un~
