[submodule "third_party/grpc-java/upstream"]
	path = third_party/grpc-java/upstream
	url = https://github.com/grpc/grpc-java.git
[submodule "third_party/grpc/upstream"]
	path = third_party/grpc/upstream
	url = https://github.com/grpc/grpc.git
[submodule "third_party/nanopb/upstream"]
	path = third_party/nanopb/upstream
	url = https://github.com/nanopb/nanopb.git
